<% include partials/header %>


<div id="page" class="text-center">
    <h1>Welcome to rate-your-movies! </h1>
    <h1><a href="/movies">View All Movies</a></h1>
</div>

    <!--<style>-->
    <!--    #page {-->
    <!--        background-image: url("https://m.media-amazon.com/images/M/MV5BMTY3MzkwODM0MF5BMl5BanBnXkFtZTgwMzI0OTA2ODE@._V1_.jpg"),-->
    <!--        background-repeat: no-repeat,-->
    <!--        background-size: auto-->
    <!--    }-->
    <!--</style>-->



<% include partials/footer %>
