<% include partials/header %>


<div id="page" class="text-center">
    <div class="container">
        <div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://www.impawards.com/1999/posters/matrix_ver3.jpg" alt="The Matrix" width='400'>
    </div>

    <div class="carousel-item">
      <img src="https://www.impawards.com/1994/posters/pulp_fiction.jpg" alt="Pulp Fiction" width="400">
    </div>
    <div class="carousel-item">
      <img src="https://www.impawards.com/2014/posters/whiplash.jpg" alt="Whiplash" width="400">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
<button style="font-size: 25px; color: purple; margin-top:20px; margin-left: auto; margin-right: auto;"><a href="/movies">View All Movies</a></button>




  </div>
</div>


</div>

    <!--<style>-->
    <!--    #page {-->
    <!--        background-image: url("https://m.media-amazon.com/images/M/MV5BMTY3MzkwODM0MF5BMl5BanBnXkFtZTgwMzI0OTA2ODE@._V1_.jpg"),-->
    <!--        background-repeat: no-repeat,-->
    <!--        background-size: auto-->
    <!--    }-->
    <!--</style>-->



<% include partials/footer %>
