<% include partials/header %>
<div class="container">
    <div class="row">
        <h1 style="text-align: center">Add a new movie</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/movies" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="title" placeholder="movie title">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="genre" placeholder="genres">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="poster" placeholder="movie poster url">
                </div>
                <div class="form-group">
                    <textarea class="form-control" name="comments" placeholder="type your review" rows="15" cols="60"></textarea>
                    <!--<input class="form-control" type="text" name="comments" placeholder="type your comments">-->
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>
            </form>
            <a href="/movies">Go Back</a>
        </div>
    </div>
</div>
<% include partials/footer %>

