 <% include partials/header %>

<h1><%= movie.title %></h1>
<img src="<%= movie.poster %>">

<div>
    <% movie.comments.forEach(function(element){ %>
        <p><%= element.text %></p>
        <p>- by <%= element.author %></p>
    <% }) %>
</div>


<% include partials/footer %>