<% include partials/header %>

<h1> this is the user profile page</h1>

<p>Hello, <%= currentUser.username %>.</p>

<p>Go to your <a href="/users/:id/cart">cart</a>.</p>

<% include partials/footer %>